<div class="ui cards">
	{% for article in articles %}
	
		<div class="ui card" id="article-{{ article.id }}" data-id="{{ article.id }}">
			<img class="ui image" src="http://semantic-ui.com/images/wireframe/image.png"/>
			<div class="content">
	    			<i class="right floated star icon"></i>
		    		<div class="header">{{article.title}}</div>
		    		<div class="description">
		     		 	{{article.content | safe}}
		    		</div>
		  	</div>
		  	<div class="extra content">
			    	<span class="left floated like">
		     	 		<i class="like icon"></i>喜欢
			    	</span>
			   	 <a class="right floated more-detail">
			      		详细信息
			    	</a>
		  	</div>
		</div>
	{% endfor %}
</div>
