<div >
撰写新消息
<div class="ui fluid labeled input">
  	<div class="ui label">
    		标题
  	</div>
  	<input class="title" type="text" placeholder="此处应填写标题信息">
</div>
<div class="ui fluid labeled input">
  	<div class="ui label">
    		作者
  	</div>
  	<input class="author" type="text" placeholder="此处应填写作者信息">
</div>
<textarea>Easy! You should check out MoxieManager!</textarea>
<div class="ui divider"></div>
<div class="left floated ui button">保存草稿</div>
<div class="left floated negative ui button">舍弃</div>
<div id="add-article-submit-btn" class="right floated  positive ui button" >发布</div>
</div>