{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block body %}
	    	<div class="pusher">
		    	<div class="container">
				<div class="ui top fixed large menu">
			   		<a class="item feng-menu">
				      		<i class="sidebar icon"></i>Menu
				    	</a>	
				    	<a id="return" class="item" style="display: none;">
				    		<i class="chevron left icon"></i>
				      		返回
				    	</a>	
				  	<a id="page-title" class="return item" style="display: none;">
				    	</a>	 
			    
		                    		<div id="news-category" class="ui dropdown item">
		                        		<div class="text">全部消息</div>
	                    				<i class="dropdown icon"></i>
	            	    				<div class="menu">
	                	    				<div class="item">全部消息</div>
	                	      				<div class="item">活动</div>
	                	      				<div class="item">资讯</div>
	                	      				<div class="item">学习</div>
	                	    			</div>
		                  		</div>
			    		<img class="ui image right floated item" style="margin:0px; height:40px; padding:3px;" src="http://www.psucssa.org/img/cssa/cssa-logo.png"/>
				</div>

<div id="more-actions" class="ui floating upward icon dropdown teal large button" style="height:2.6em; width:2.7em; border-radius:1.4em;">
    <i class="list layout icon"></i>
    <!-- <span class="text">M</span> -->
    <div class="menu" style="left:auto; right:0;">
      <div class=" item">
        	<i class="ui chevron left icon"></i>Left
        <div class="left menu">
          <div class="item">1</div>
          <div class="item">2</div>
          <div class="item">3</div>
        </div>
      </div>
      <a class="item" id="add-article-btn" href="/news/edit">
	<i class="icon plus"></i>Add
      </a>
    </div>
  </div>
				<div id="main-container" >

				</div>
			</div>
		</div>
{% endblock %}
